body {
    font-family: 'Poppins', sans-serif;
}

.navbar-brand img {
    max-height: 40px;
}

.section-intro {
    background: linear-gradient(135deg, #6a11cb 0%, #2575fc 100%);
    color: white;
}

.product-card img,
.team-card img {
    transition: transform 0.3s;
}

.product-card:hover img,
.team-card:hover img {
    transform: translateY(-10px);
}

.footer {
    background-color: #212529;
}

.social-icons a {
    transition: transform 0.3s;
}

.social-icons a:hover {
    transform: scale(1.2);
}

.product-card img,
.team-card img {
    transition: transform 0.3s;
}

.product-card:hover img,
.team-card:hover img {
    transform: translateY(-10px);
}

/* Ajustement de la taille des images de l'équipe */
.team-card img {
    max-width: 70%;
    height: auto;
}

@media (max-width: 767px) {
    .team-card img {
        max-width: 150px;
    }
}

/* Centrer les cartes avec un gap minimum de 50px */
.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}